@{
    ViewBag.Title = "Index";
}
<h2>Code Editor</h2>
<div style="margin:8px 0;">
    选择语言：    
    @Html.DropDownList("Language")<a href="#previewHtml" class="for_preview">预览</a>
</div>

<div>
    <textarea id="txtCode" class="editor_zone"></textarea>

    <iframe id="previewHtml" style="width:100%;height:auto;border:solid 1px black;min-height:500px;"></iframe>
    <a href="#" class="for_preview">编辑</a>
</div>

@section scripts {   
    @Styles.Render("~/Content/codemirror.css")
    @Scripts.Render("~/Scripts/Codemirror/codemirror.js")
    @Scripts.Render("~/Scripts/Codemirror/util/loadmode.js")
    @Scripts.Render("~/Scripts/Codemirror/util/closetag.js", "~/Scripts/Codemirror/mode/xml/xml.js")    
    @Scripts.Render("~/Scripts/editor.js")

    <style type="text/css">
        .editor_zone
        {
            width:100%;
        
        }
    
        .CodeMirror-scroll 
        {
          height: auto;
          min-height:625px;
          overflow-y: hidden;
          overflow-x: auto;
        }
        
        .activeline 
        {
            background: #e8f2ff !important;
        }
        
        a.for_preview 
        {
            text-decoration:none;
            color:Red;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            var lan = $("#Language").val();

            initEditor();
            changeMode(lan);
            $("#Language").change(function () {
                changeMode(this.value);
                updatePreview();
            });
        })
    </script>
}
