@{
    ViewBag.Title = "Index";
}
<h2>Code Editor</h2>
<div style="margin:8px 0;">
    选择语言：    
    @Html.DropDownList("Language")
</div>

<div>
    <textarea id="txtCode" class="editor_zone"></textarea>
</div>

@section scripts {   
    @Styles.Render("~/Content/codemirror.css")
    @Scripts.Render("~/Scripts/Codemirror/codemirror.js")
    @Scripts.Render("~/Scripts/Codemirror/util/loadmode.js")
    @Scripts.Render("~/Scripts/Codemirror/util/closetag.js", "~/Scripts/Codemirror/mode/xml/xml.js")    
    @Scripts.Render("~/Scripts/editor.js")

    <style type="text/css">
        .editor_zone
        {
            width:100%;
        
        }
    
        .CodeMirror-scroll 
        {
          height: auto;
          min-height:625px;
          overflow-y: hidden;
          overflow-x: auto;
        }
        
        .activeline 
        {
            background: #e8f2ff !important;
        }
    </style>

    <script type="text/javascript">
        $(function () {
            initEditor();
            changeMode($("#Language").val());
            $("#Language").change(function () {
                changeMode(this.value);
            });
        })
    </script>
}
